/*UTILS*/
body{
    font-size: 20px;
}

img{
    width: 100%;
}

li{
    list-style-type: none;
}

.d-none{
   display: none;
}

/*MAIN-HEADER*/
.main-header{
    min-height: 80px;
    background-color: white;
}

/*logo*/
.mobile-logo{
    width: 60px;
    align-self: center;
}

/*search input*/
.input-group{
    margin: 15px;
}

.form-control{
    background-color: #f8f9fa;
}

/*icons*/
.icon-orange{
    color: #FD8F00;
}

/*CONTAINER-SECTION*/
.container-section{
    background-color: white;
    height: calc(100vh - 80px);
    overflow: auto;
    display: flex;
    overflow: auto;
}

/*NAVBAR*/
.sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;

    flex-basis: 80px;
    flex-shrink: 0;
    flex-direction: column;
    overflow: auto;

    position: sticky;
    top: 0;
    bottom: 0;
    right: 0;
}

/*SECONDARY-HEADER*/
.secondary-header{
    background-color: #1B72E8;
    min-height: 200px;
    overflow: auto;
}

.btn-darkblue{
    background-color: #165BBA;
    color: white;
    border-radius: 20px;
}

.btn-plus{
    font-size: 20px;
}

.header-number{
    font-size: 30px;
}

/*MAIN*/
main{
    overflow: auto;
}

/*MEDIA QUERY*/
@media screen and (min-width: 768px){
    .col-online{
        order: 1;
    }
    .col-new{
       order: 2;
    }
}

@media screen and (min-width: 992px){
    .desktop-icon{
        display: block!important;
    }

    .desktop-logo{
        display: block!important;
        align-self: center;
    }

    .mobile-logo{
        display: none!important;

    }

    .btn-desktop{
        display: inline-block!important;
    }

    .btn-more{
        display: none!important;
    }

    .btn-darkblue{
        font-size: 10px;
    }
}